/1- EL LENGUAJE HACKER/Reto #1- EL LENGUAJE HACKER/nbproject/private/
/1- EL LENGUAJE HACKER/Reto #1- EL LENGUAJE HACKER/build/
/2- EL PARTIDO DE TENIS/Reto #2- EL PARTIDO DE TENIS/nbproject/private/
/2- EL PARTIDO DE TENIS/Reto #2- EL PARTIDO DE TENIS/build/
/2- EL PARTIDO DE TENIS/test/nbproject/private/
/2- EL PARTIDO DE TENIS/test/build/
/3- EL GENERADOR DE CONTRASEÑAS/Reto #3- EL GENERADOR DE CONTRASEÑAS/nbproject/private/
/3- EL GENERADOR DE CONTRASEÑAS/Reto #3- EL GENERADOR DE CONTRASEÑAS/build/

**/test_ignore.txt
/3 - EL GENERADOR DE CONTRASEÑAS/Reto #3- EL GENERADOR DE CONTRASEÑAS/build/
/3 - EL GENERADOR DE CONTRASEÑAS/Reto #3- EL GENERADOR DE CONTRASEÑAS/nbproject/private/
/2 - EL PARTIDO DE TENIS/Reto #2- EL PARTIDO DE TENIS/build/
/2 - EL PARTIDO DE TENIS/Reto #2- EL PARTIDO DE TENIS/nbproject/private/
/6 - Piedra, Papel, Tijera, Lagarto, Spock/Reto #6 Piedra, Papel, Tijera, Lagarto, Spock/nbproject/private/
/6 - Piedra, Papel, Tijera, Lagarto, Spock/PRL/nbproject/private/
